*{
    font-family: "Work Sans";
}
/*header section  style*/
.header{
    display: flex;
    justify-content: flex-end;
    margin: 0 0 px 0;
    background-image:url(images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 280px 100px;
    text-align: right;
    margin-bottom: 100px;    
}
.header-title{
    text-align: right;
    margin:5px 60px;
    font-size: 55px;    
}
.header-p{    
    margin:5px 60px; 
    font-size: 20px;    
}
.fast-button{
    margin: 0 60px;
    padding: 12px;
    background-color:#F15B22;
    color: #FFFFFF;    
}
/*about section style*/
.image{
    display: flex;
    color:rgba(241, 91, 34, 0.2);    
}
.image-sd{
    margin: 200px;
    padding:50px;
}
.image-h{
    font-size: 40px;
    color:  #151414;
}
.image-p{
    font-size: 20px;
    color: #444343;
}
/*icons section style*/
.my-plans{
    text-align: center;
    font-size: 40px;
}
.icons{
    display: flex;
    justify-content: center;
}
.plans{
    margin: 30px;
    padding:20px;
}
/*call now section style*/
.last{
   margin:100px 300px ;
   background-color: red;
   background-image: linear-gradient(to right , red , yellow);
   padding: 25px ;      
}
.last-h{
    font-size: 40px;
    color: white;
}
.button-2d{
    color:  #F15B22;
    padding: 13px;
}
/*footer section style*/
.footer{
    display: flex; 
    justify-content: space-around;
    background-color: #151414;
    color: #FFFFFF;
    padding: 100px;   
}
.footer-h{
    font-size: 45px;
}
.footer-b{
    font-style: 30px;
}
.footer{
    font-size:18px ;
}
input{
   padding: 10px;
   background-color: #151414;
   color: #F3F3F3; 
}
button{
    padding: 10px;
    color: #F15B22;
    margin: 10px 0;  
}